#!/usr/bin/make -f
# -*- makefile -*-


# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DEB_BUILD_MAINT_OPTIONS := hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

package=emacspeak
debbase         := $(shell pwd)/debian
debtmp          := $(debbase)/$(package)
eldir		:= usr/share/emacs/site-lisp/$(package)
deblsp          := $(debtmp)/$(eldir)

%:
	dh  $@


override_dh_auto_build-arch:

	cd debian ; ln -s templates emacspeak-espeak.templates
	cd debian ; ln -s templates emacspeak-outloud.templates

	$(MAKE) -C servers/linux-espeak
	$(MAKE) -C servers/linux-outloud


override_dh_auto_build-indep:

	# The 3d auditory icon theme was generated using CSound, but it expects the
	# reference files in the same directory.
	ln -s /usr/share/csound/hrtf/*.dat sounds/3d/src/
	cd sounds/3d/src ; \
	for file in *.csd ; do \
		if [ ! "$$file" = interactive.csd ] ; then \
			csound -o ../$${file%csd}wav $$file ; \
		fi ; \
	done

	$(MAKE) -C etc tips.html applications.html
	$(MAKE) -C info


override_dh_auto_clean:

	$(MAKE) -C info clean
	$(MAKE) -C servers/linux-espeak clean
	$(MAKE) -C servers/linux-outloud clean


override_dh_auto_install:
	# Skip it


override_dh_install-indep:

	# Copy files into the installation tree
	dh_install -X.elc -X.nosearch -X.tar.bz2 -X.tar.gz -X.diff -X.excludes -X-loaddefs -X-cus-load -X-finder-inf -X.sh.def -X.pyc -X.pyo

	# Clean up the installation tree
	cd $(deblsp)/lisp ; rm -f external-code-readme.org README
	cd $(deblsp)/lisp/g-client ; rm -rf obsolete patches *.html *.org COPYING rfc-imap-search
	cd $(deblsp)/etc ; rm -f Makefile NEWS-* COPYRIGHT applications.dtd applications.mp applications.rnc applications.xml applications.xsl bootstrap.sh fetchmailrc iheart-player tips.xml tips.xsl youtube-dl-readme .youtube-dl.repos
	cd $(deblsp)/lisp ; patch -i $(debbase)/emacspeak-tetris.patch


override_dh_installemacsen:

	# Explicit priority
	dh_installemacsen --priority=01


override_dh_fixperms-indep:

	# Fix permissions
	find $(deblsp) -type d -exec chmod 0755 {} \;
	find $(deblsp) -type f -exec chmod 0644 {} \;
	cd $(deblsp)/bash-utils ; chmod 0755 e*
	cd $(deblsp)/etc ; chmod 0755 *.sh *.pl *.py *2* cbox* fmradio-rtl remote-tts-setup
	cd $(deblsp)/servers ; chmod 0755 dtk-exp speech-server ssh-* ; chmod 0644 .servers tts-lib.tcl
	cd $(debtmp)-espeak/$(eldir)/servers ; chmod 0755 espeak
	cd $(debtmp)-outloud/$(eldir)/servers ; chmod 0755 outloud
	chmod 0755 $(debtmp)/$(eldir)/sounds/3d
	chmod 0644 $(debtmp)/$(eldir)/sounds/3d/*
	chmod 0755 $(debtmp)-classic/$(eldir)/sounds/classic
	chmod 0644 $(debtmp)-classic/$(eldir)/sounds/classic/*
	chmod 0755 $(debtmp)-pan-chimes/$(eldir)/sounds/pan-chimes
	chmod 0644 $(debtmp)-pan-chimes/$(eldir)/sounds/pan-chimes/*

	dh_fixperms
