#!/usr/bin/make -f
# -*- makefile -*-


# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

package=emacspeak
debbase         := $(shell pwd)/debian
debtmp          := $(debbase)/$(package)
eldir		:= usr/share/emacs/site-lisp/$(package)
deblsp          := $(debtmp)/$(eldir)


configure: configure-stamp
configure-stamp:
	dh_testdir

	cd debian ; ln -s templates emacspeak-espeak.templates
	cd debian ; ln -s templates emacspeak-outloud.templates

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	$(MAKE) -C info
	$(MAKE) -C servers/linux-espeak
	$(MAKE) -C servers/linux-outloud

	touch build-stamp


clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	cd debian ; rm -f emacspeak-espeak.templates emacspeak-outloud.templates

	$(MAKE) -C info clean
	$(MAKE) -C servers/linux-espeak clean
	$(MAKE) -C servers/linux-outloud clean

	dh_clean 


install: build
	dh_testdir
	dh_testroot
	dh_clean -k 

	# Copy files into the installation tree
	dh_install -X.elc -X.nosearch -X.tar.bz2 -X.tar.gz -X.diff -X.excludes -X-loaddefs -X-cus-load -X-finder-inf -X.sh.def

	# Clean up the installation tree
	cd $(deblsp)/lisp/g-client ; rm -rf patches *.html *.org COPYING
	cd $(deblsp)/etc ; rm -f Makefile NEWS-* applications.html COPYRIGHT remote.txt
	cd $(deblsp)/xsl ; rm -f Makefile

	# Fix permissions
	find $(deblsp) -type d -exec chmod 0755 {} \;
	find $(deblsp) -type f -exec chmod 0644 {} \;
	cd $(deblsp)/etc ; chmod 0755 *.sh *.pl *2*
	cd $(deblsp)/servers ; chmod 0755 dtk-exp speech-server ssh-* ; chmod 0644 .servers tts-lib.tcl
	cd $(debtmp)-espeak/$(eldir)/servers ; chmod 0755 espeak
	cd $(debtmp)-outloud/$(eldir)/servers ; chmod 0755 outloud
	chmod 0755 $(deblsp)/lisp/g-client/python/contacts.py
	chmod 0755 $(debtmp)-cartoon-22k-mono/$(eldir)/sounds/cartoon-22k-mono
	chmod 0644 $(debtmp)-cartoon-22k-mono/$(eldir)/sounds/cartoon-22k-mono/*
	chmod 0755 $(debtmp)-chimes-stereo/$(eldir)/sounds/chimes-stereo
	chmod 0644 $(debtmp)-chimes-stereo/$(eldir)/sounds/chimes-stereo/*


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installdebconf -i
	dh_installemacsen -i --priority=01
	dh_installinfo -i
	dh_installman -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i


# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installdebconf -a
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
